<div class="flex-container">
  <mat-card class="flex-item p-12 mat-elevation-z6 rounded">
    <mat-card-title class="text-center">
      <div class="card-title-text light-gray p-12">
        {{'Active Reports' | translate}}
      </div>
    </mat-card-title>              
    <mat-card-content>
      <ul>
        <li><a mat-button routerLink="/analytical/reportsearch/892F3305-7819-4F18-8A87-11CBA3AEE219">{{'Reports' | translate}}</a></li>
        <li><a mat-button routerLink="/analytical/activeanalyser">{{'Analyser' | translate}}</a></li>
      </ul>
    </mat-card-content>
  </mat-card>

  <mat-card class="flex-item p-12 mat-elevation-z6 rounded">
    <mat-card-title class="text-center">
      <div class="card-title-text light-gray p-12">
        {{'Spontaneous Reports' | translate}}
      </div>
    </mat-card-title>              
    <mat-card-content>
      <ul>
        <li><a mat-button routerLink="/analytical/reportsearch/4096D0A3-45F7-4702-BDA1-76AEDE41B986">{{'Reports' | translate}}</a></li>
        <li><a mat-button routerLink="/analytical/spontaneousanalyser">{{'Analyser' | translate}}</a></li>
      </ul>
    </mat-card-content>
  </mat-card>  
</div>