<h1 matDialogTitle>{{data.title | translate}}</h1>

  <mat-progress-bar mode="indeterminate" color="primary" *ngIf="isBusy()"></mat-progress-bar>

  <form [formGroup]="itemForm">
    <div fxLayout="row wrap" fxLayout.lt-sm="column">
      <div class="card-title-text mat-bg-accent p-24">
        {{'The following identifier has been created for your form. Please note this number on the form' | translate }}
      </div>

      <div fxFlex="100" class="pr-1 mt-24">
        <mat-form-field class="p-2" appearance="fill">
          <mat-label>{{'Identifier' | translate }}</mat-label>
          <input matInput formControlName="identifier" readonly>
        </mat-form-field>        
      </div>

      <div fxFlex="100" class="mt-1">
        <span fxFlex></span>
        <button mat-raised-button color="primary" type="button" (click)="dialogRef.close(false)">{{"Close" | translate }}</button>
      </div>
    </div>
  </form>