<div style="height: 5px;">
  <mat-progress-bar mode="indeterminate" color="primary" *ngIf="isBusy()"></mat-progress-bar>
</div>

<mat-card class="p-8">
  
  <mat-card-title class="">
    <div class="card-title-text">
      <button mat-raised-button (click)="goBack()" color="accent" class="mr-48">
        <mat-icon>arrow_back</mat-icon>
      </button>
      
      {{'ADVERSE DRUG REACTION FORM' | translate}}
    </div>
  </mat-card-title>

  <mat-card-content class="m-1 p-2">
    <div fxLayout="row" fxLayoutAlign="start">
      <div fxFlex="20" class="mt-4">
        <div class="p-12">
          <div fxLayout="row" fxLayoutGap="0.5%" fxLayoutAlign="start" class="p-05">
            <mat-icon color="primary" *ngIf="viewModel.currentStep == 1" class="mr-12">brightness_1</mat-icon>
            <mat-icon color="warn" *ngIf="viewModel.currentStep > 1 && firstFormGroup.invalid" class="mr-12">error</mat-icon>
            <mat-icon color="accent" *ngIf="viewModel.currentStep > 1 && firstFormGroup.valid" class="mr-12">check_circle</mat-icon>
            <a routerLink="" (click)="viewModel.currentStep = 1">
              <span [class.font-weight-bold]="viewModel.currentStep == 1">Patient selection</span>
            </a>
          </div>
          <div fxLayout="row" fxLayoutGap="0.5%" fxLayoutAlign="start" class="p-05">
            <mat-icon color="primary" *ngIf="viewModel.currentStep < 2" class="mr-12">panorama_fish_eye</mat-icon>
            <mat-icon color="primary" *ngIf="viewModel.currentStep == 2" class="mr-12">brightness_1</mat-icon>
            <mat-icon color="warn" *ngIf="viewModel.currentStep > 2 && secondFormGroup.invalid" class="mr-12">error</mat-icon>
            <mat-icon color="accent" *ngIf="viewModel.currentStep > 2 && secondFormGroup.valid" class="mr-12">check_circle</mat-icon>
            <a routerLink="" (click)="viewModel.currentStep = 2">
              <span [class.font-weight-bold]="viewModel.currentStep == 2">Patient particulars</span>
            </a>
          </div>
          <div fxLayout="row" fxLayoutGap="0.5%" fxLayoutAlign="start" class="p-05">
            <mat-icon color="primary" *ngIf="viewModel.currentStep < 3" class="mr-12">panorama_fish_eye</mat-icon>
            <mat-icon color="primary" *ngIf="viewModel.currentStep == 3" class="mr-12">brightness_1</mat-icon>
            <mat-icon color="warn" *ngIf="viewModel.currentStep > 3 && thirdFormGroup.invalid" class="mr-12">error</mat-icon>
            <mat-icon color="accent" *ngIf="viewModel.currentStep > 3 && thirdFormGroup.valid" class="mr-12">check_circle</mat-icon>
            <a routerLink="" (click)="viewModel.currentStep = 3">
              <span [class.font-weight-bold]="viewModel.currentStep == 3">Adverse event details</span>
            </a>
          </div>
          <div fxLayout="row" fxLayoutGap="0.5%" fxLayoutAlign="start" class="p-05">
            <mat-icon color="primary" *ngIf="viewModel.currentStep < 4" class="mr-12">panorama_fish_eye</mat-icon>
            <mat-icon color="primary" *ngIf="viewModel.currentStep == 4" class="mr-12">brightness_1</mat-icon>
            <mat-icon color="warn" *ngIf="viewModel.currentStep > 4 && fourthFormGroup.invalid" class="mr-12">error</mat-icon>
            <mat-icon color="accent" *ngIf="viewModel.currentStep > 4 && fourthFormGroup.valid" class="mr-12">check_circle</mat-icon>
            <a routerLink="" (click)="viewModel.currentStep = 4">
              <span [class.font-weight-bold]="viewModel.currentStep == 4">Management of the reaction</span>
            </a>
          </div>
          <div fxLayout="row" fxLayoutGap="0.5%" fxLayoutAlign="start" class="p-05">
            <mat-icon color="primary" *ngIf="viewModel.currentStep < 5" class="mr-12">panorama_fish_eye</mat-icon>
            <mat-icon color="primary" *ngIf="viewModel.currentStep == 5" class="mr-12">brightness_1</mat-icon>
            <mat-icon color="warn" *ngIf="viewModel.currentStep > 5 && fifthFormGroup.invalid" class="mr-12">error</mat-icon>
            <mat-icon color="accent" *ngIf="viewModel.currentStep > 5 && fifthFormGroup.valid" class="mr-12">check_circle</mat-icon>
            <a routerLink="" (click)="viewModel.currentStep = 5">
              <span [class.font-weight-bold]="viewModel.currentStep == 5">Suspected medication</span>
            </a>
          </div>
          <div fxLayout="row" fxLayoutGap="0.5%" fxLayoutAlign="start" class="p-05">
            <mat-icon color="primary" *ngIf="viewModel.currentStep < 6" class="mr-12">panorama_fish_eye</mat-icon>
            <mat-icon color="primary" *ngIf="viewModel.currentStep == 6" class="mr-12">brightness_1</mat-icon>
            <mat-icon color="accent" *ngIf="viewModel.currentStep > 6" class="mr-12">check_circle</mat-icon>
            <a routerLink="" (click)="viewModel.currentStep = 6">
              <span [class.font-weight-bold]="viewModel.currentStep == 6">Reporter particulars</span>
            </a>
          </div>
          <div fxLayout="row" fxLayoutGap="0.5%" fxLayoutAlign="start" class="p-05">
            <mat-icon color="primary" *ngIf="viewModel.currentStep < 7" class="mr-12">panorama_fish_eye</mat-icon>
            <mat-icon color="primary" *ngIf="viewModel.currentStep == 7" class="mr-12">brightness_1</mat-icon>
            <span [class.font-weight-bold]="viewModel.currentStep == 7">Finish</span>
          </div>
          <div fxLayout="row" fxLayoutGap="0.5%" fxLayoutAlign="center" class="p-2">
            <button mat-flat-button color="" class="mr-12" (click)="previousStep()" [disabled]="viewModel.currentStep == 1">Previous</button>
            <button mat-flat-button color="accent" (click)="nextStep()" [disabled]="viewModel.currentStep > 6 || !viewModel.patientFound">Next</button>
            <button mat-flat-button color="primary" (click)="finish()" *ngIf="viewModel.currentStep > 6" [disabled]="firstFormGroup.invalid || secondFormGroup.invalid || thirdFormGroup.invalid || fourthFormGroup.invalid || fifthFormGroup.invalid">Finish</button>
          </div>
        </div>
      </div>
  
      <div fxFlex="50" fxFlex.lt-md="100" *ngIf="viewModel.currentStep == 1">
        <form [formGroup]="firstFormGroup" [@fadeInOut2]="">
          <div class="p-24">
            <span class="mat-title">Patient selection</span>
  
            <div class="p-24 light-gray rounded">
              Please enter the TB case identifier of the patient you would like to add the adverse event for ...
            </div>
  
            <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="1.0%" fxLayoutAlign="start" class="mt-6">
              <mat-form-field class="p-8 full-width">
                <input matInput formControlName="customAttributeValue" placeholder="{{'TB Case Identifier' | translate}}" required>
                <mat-error *ngIf="firstFormGroup.get('customAttributeValue').hasError('required')">
                  {{'This is a required field' | translate}}
                </mat-error>
              </mat-form-field>              
            </div>
            <div fxLayout="row" fxLayoutGap="0.5%" fxLayoutAlign="end" class="p-2">
              <button mat-flat-button color="accent" class="mr-12" (click)="loadData()" [disabled]="firstFormGroup.invalid">Search for Patient</button>
            </div>
            <div class="p-24 mat-bg-warn rounded mt-12" *ngIf="viewModel.errorFindingPatient">
              Unable to locate the patient using the case identifier specified ...
            </div>
            <div class="mt-12" *ngIf="viewModel.patientFound">
              <span class="mat-title">Patient details</span>
              <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="0.1%" fxLayoutAlign="start start">
                <div fxFlex="45" class="mr-05">
                  <mat-form-field class="p-8 full-width" appearance="fill">
                    <mat-label>{{'First name' | translate}}</mat-label>
                    <input matInput formControlName="firstName" readonly>
                  </mat-form-field>
                </div>
                <div fxFlex="45">
                  <mat-form-field class="p-8 full-width" appearance="fill">
                    <mat-label>{{'Last name' | translate}}</mat-label>
                    <input matInput formControlName="lastName" readonly>
                  </mat-form-field>
                </div>
              </div>
  
              <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="0.1%" fxLayoutAlign="start start">
                <div fxFlex="45" class="mr-05">
                  <mat-form-field class="p-8 full-width" appearance="fill">
                    <mat-label>{{'Date of birth' | translate}}</mat-label>
                    <input matInput formControlName="dateOfBirth" readonly>
                  </mat-form-field>
                </div>
                <div fxFlex="45">
                  <mat-form-field class="p-8 full-width" appearance="fill">
                    <mat-label>{{'Gender' | translate}}</mat-label>
                    <input matInput formControlName="gender" readonly>
                  </mat-form-field>
                </div>
              </div>

              <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="0.1%" fxLayoutAlign="start start">
                <div fxFlex="45" class="mr-05">
                  <mat-form-field class="p-8 full-width" appearance="fill">
                    <mat-label>{{'Address' | translate}}</mat-label>
                    <input matInput formControlName="address" readonly>
                  </mat-form-field>
                </div>
                <div fxFlex="45">
                  <mat-form-field class="p-8 full-width" appearance="fill">
                    <mat-label>{{'Contact number' | translate}}</mat-label>
                    <input matInput formControlName="contactNumber" readonly>
                  </mat-form-field>
                </div>
              </div>
              
              <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="0.1%" fxLayoutAlign="start start">
                <div fxFlex="45" class="mr-05">
                  <mat-form-field class="p-8 full-width" appearance="fill">
                    <mat-label>{{'Facility' | translate}}</mat-label>
                    <input matInput formControlName="facilityName" readonly>
                  </mat-form-field>
                </div>
                <div fxFlex="45">
                  <mat-form-field class="p-8 full-width" appearance="fill">
                    <mat-label>{{'Region' | translate}}</mat-label>
                    <input matInput formControlName="facilityRegion" readonly>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
  
      <div fxFlex="50" fxFlex.lt-md="100" *ngIf="viewModel.currentStep == 2">
        <form [formGroup]="secondFormGroup" [@fadeInOut2]="">
  
          <div class="p-24">
            <span class="mat-title">Patient particulars</span>
  
            <div class="p-24 light-gray rounded">
              Please update any particulars of the patient
            </div>            
    
            <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="1.0%" fxLayoutAlign="start" class="mt-12">
              <div fxFlex="50">
                <mat-form-field class="full-width" appearance="outline">
                  <mat-label>Ethnic group</mat-label>
                  <mat-select formControlName="ethnicGroup" required>
                    <mat-option value=""></mat-option>
                    <mat-option value="1">Filipino</mat-option>
                    <mat-option value="2">Chinese</mat-option>
                    <mat-option value="3">Caucasian</mat-option>
                  </mat-select>
                  <mat-error *ngIf="secondFormGroup.get('ethnicGroup').hasError('required')">
                    Field is required
                  </mat-error>            
                </mat-form-field>
              </div>
            </div>                      
          </div>
        </form>
      </div>
  
      <div fxFlex="80" *ngIf="viewModel.currentStep == 3">
        <form [formGroup]="thirdFormGroup" [@fadeInOut2]="">
  
          <div class="p-24">
            <span class="mat-title">Caregiver programme details</span>
  
            <div class="pt-24 pb-24">
              <span class="text-muted">Please specify the details of the caregiver programme</span> 
            </div>
  
            <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="1.0%" fxLayoutAlign="start" class="mt-12">
              <div fxFlex="50">
                <mat-form-field class="full-width" appearance="outline">
                  <mat-label>Please specify the status of the program</mat-label>
                  <mat-select formControlName="programStatus" required>
                    <mat-option value=""></mat-option>
                    <mat-option value="New Beneficiary">
                      New Beneficiary
                    </mat-option>
                    <mat-option value="Continuing Beneficiary">
                      Continuing Beneficiary
                    </mat-option>
                  </mat-select>                        
                </mat-form-field>
              </div>
              <div fxFlex="50" *ngIf="thirdFormGroup.get('programStatus').value == 'New Beneficiary'">
                <mat-form-field class="full-width" appearance="outline">
                  <mat-label>Please specify the date of enrolment</mat-label>
                  <input matInput formControlName="enrolmentDate" [matDatepicker]="enrolmentDatepicker">
                  <mat-datepicker-toggle matSuffix [for]="enrolmentDatepicker"></mat-datepicker-toggle>
                </mat-form-field>
                <mat-datepicker #enrolmentDatepicker></mat-datepicker>
              </div>
            </div>                      
  
            <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="1.0%" fxLayoutAlign="start" class="mt-12">
              <div fxFlex="50">
                <mat-form-field class="full-width" appearance="outline">
                  <mat-label>Please specify the org caregiver ID</mat-label>
                  <input matInput formControlName="orgCaregiverId" required>
                  <mat-hint>Maximum length 21</mat-hint> 
                  <mat-error *ngIf="thirdFormGroup.get('orgCaregiverId').hasError('required')">
                    Field is required
                  </mat-error>            
                  <mat-error *ngIf="thirdFormGroup.get('orgCaregiverId').hasError('maxlength')">
                    Maximum length exceeded
                  </mat-error>            
                </mat-form-field>
              </div>
            </div>                      
          </div>
        </form>
      </div>
  
      <div fxFlex="80" *ngIf="viewModel.currentStep == 4">
        <form [formGroup]="fourthFormGroup" [@fadeInOut2]="">
  
          <div class="p-24">
            <span class="mat-title">Caregiver details</span>
  
            <div class="pt-24 pb-24">
              <span class="text-muted">Please specify the details of the caregiver</span> 
            </div>
    
            <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="1.0%" fxLayoutAlign="start" class="mt-12">
              <div fxFlex="50">
                <mat-form-field class="full-width" appearance="outline">
                  <mat-label>Please specify the first name of the caregiver</mat-label>
                  <input matInput formControlName="caregiverFirstName" required>
                  <mat-hint>Specify a valid name with a maximum length of 21</mat-hint> 
                  <mat-error *ngIf="fourthFormGroup.get('caregiverFirstName').hasError('required')">
                    Field is required
                  </mat-error>            
                  <mat-error *ngIf="fourthFormGroup.get('caregiverFirstName').hasError('maxlength')">
                    Maximum length exceeded
                  </mat-error>            
                </mat-form-field>
              </div>
              <div fxFlex="50">
                <mat-form-field class="full-width" appearance="outline">
                  <mat-label>Please specify the last name of the caregiver</mat-label>
                  <input matInput formControlName="caregiverLastName" required>
                  <mat-hint>Specify a valid name with a maximum length of 21</mat-hint> 
                  <mat-error *ngIf="fourthFormGroup.get('caregiverLastName').hasError('required')">
                    Field is required
                  </mat-error>            
                  <mat-error *ngIf="fourthFormGroup.get('caregiverLastName').hasError('maxlength')">
                    Maximum length exceeded
                  </mat-error>            
                </mat-form-field>
              </div>
            </div>                      
  
            <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="1.0%" fxLayoutAlign="start" class="mt-12">
              <div fxFlex="50">
                <mat-form-field class="full-width" appearance="outline">
                  <mat-label>Is the caregiver know by another name</mat-label>
                  <input matInput formControlName="caregiverKnownAs">
                  <mat-hint>Maximum length 21</mat-hint> 
                  <mat-error *ngIf="fourthFormGroup.get('caregiverKnownAs').hasError('maxlength')">
                    Maximum length exceeded
                  </mat-error>            
                </mat-form-field>
              </div>
            </div>
  
            <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="1.0%" fxLayoutAlign="start" class="mt-12">
              <div fxFlex="50">
                <mat-form-field class="full-width" appearance="outline">
                  <mat-label>Please specify the date of birth of the caregiver</mat-label>
                  <input matInput formControlName="dateOfBirth" [matDatepicker]="birthDatepicker">
                  <mat-datepicker-toggle matSuffix [for]="birthDatepicker"></mat-datepicker-toggle>
                </mat-form-field>
                <mat-datepicker #birthDatepicker></mat-datepicker>
              </div>
            </div>        
  
            <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="1.0%" fxLayoutAlign="start" class="mt-12">
              <div fxFlex="50">
                <mat-form-field class="full-width" appearance="outline">
                  <mat-label>Please specify the gender of the caregiver</mat-label>
                  <mat-select formControlName="sex" required>
                    <mat-option value=""></mat-option>
                    <mat-option value="Male">
                      Male
                    </mat-option>
                    <mat-option value="Female">
                      Female
                    </mat-option>
                  </mat-select>                        
                  <mat-error *ngIf="fourthFormGroup.get('sex').hasError('required')">
                    Field is required
                  </mat-error>            
                </mat-form-field>
              </div>
              <div fxFlex="50">
                <mat-form-field class="full-width" appearance="outline">
                  <mat-label>Please specify the race of the caregiver</mat-label>
                  <mat-select formControlName="race" required>
                    <mat-option value="African">
                      African
                    </mat-option>
                    <mat-option value="Indian">
                      Indian
                    </mat-option>
                    <mat-option value="White">
                      White
                    </mat-option>
                    <mat-option value="Coloured">
                      Coloured
                    </mat-option>
                    <mat-option value="Asian">
                      Asian
                    </mat-option>
                  </mat-select>                        
                  <mat-error *ngIf="fourthFormGroup.get('race').hasError('required')">
                    Field is required
                  </mat-error>            
                </mat-form-field>
              </div>
            </div>             
            
            <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="1.0%" fxLayoutAlign="start" class="mt-12">
              <div fxFlex="50">
                <mat-form-field class="full-width" appearance="outline">
                  <mat-label>Please specify the type of ID</mat-label>
                  <mat-select formControlName="idType" required>
                    <mat-option value=""></mat-option>
                    <mat-option value="SA ID Number">
                      SA ID Number
                    </mat-option>
                    <mat-option value="Passport Number">
                      Passport Number
                    </mat-option>
                    <mat-option value="Permit">
                      Permit
                    </mat-option>
                  </mat-select>                        
                  <mat-error *ngIf="fourthFormGroup.get('idType').hasError('required')">
                    Field is required
                  </mat-error>            
                </mat-form-field>
              </div>
              <div fxFlex="50">
                <mat-form-field class="full-width" appearance="outline">
                  <mat-label>Please specify the ID number</mat-label>
                  <input matInput formControlName="idNumber" required>
                  <mat-hint>Specify a valid ID number with a maximum length of 13</mat-hint> 
                  <mat-error *ngIf="fourthFormGroup.get('idNumber').hasError('required')">
                    Field is required
                  </mat-error>
                  <mat-error *ngIf="fourthFormGroup.get('idNumber').hasError('idNumberError')">
                    Invalid ID number specified, check ID format, date of birth and gender
                  </mat-error>
                  <mat-error *ngIf="fourthFormGroup.get('idNumber').hasError('maxlength')">
                    Maximum length exceeded
                  </mat-error>
                </mat-form-field>
              </div>
            </div>                      
  
            <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="1.0%" fxLayoutAlign="start" class="mt-12">
              <div fxFlex="50">
                <mat-form-field class="full-width" appearance="outline">
                  <mat-label>Please specify the nationality</mat-label>
                  <mat-select formControlName="nationality" required>
                    <mat-option value=""></mat-option>
                    <mat-option value="South African">
                      South African
                    </mat-option>
                    <mat-option value="Other">
                      Other
                    </mat-option>
                  </mat-select>                        
                  <mat-error *ngIf="fourthFormGroup.get('nationality').hasError('required')">
                    Field is required
                  </mat-error>            
                </mat-form-field>
              </div>
              <div fxFlex="50" *ngIf="fourthFormGroup.get('nationality').value == 'Other'">
                <mat-form-field class="full-width" appearance="outline">
                  <mat-label>Other nationality</mat-label>
                  <input matInput formControlName="nationalityOther">
                  <mat-hint>Maximum length 50</mat-hint> 
                  <mat-error *ngIf="fourthFormGroup.get('nationalityOther').hasError('maxlength')">
                    Maximum length exceeded
                  </mat-error>            
                </mat-form-field>
              </div>
            </div>             
  
            <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="1.0%" fxLayoutAlign="start" class="mt-12">
              <div fxFlex="50">
                <mat-form-field class="full-width" appearance="outline">
                  <mat-label>Please specify the marital status of the caregiver</mat-label>
                  <mat-select formControlName="maritalStatus" required>
                    <mat-option value=""></mat-option>
                    <mat-option value="Married">
                      Married
                    </mat-option>
                    <mat-option value="Divorced">
                      Divorced
                    </mat-option>
                    <mat-option value="Widowed">
                      Widowed
                    </mat-option>
                    <mat-option value="Separated">
                      Separated
                    </mat-option>
                    <mat-option value="Single">
                      Single
                    </mat-option>
                    <mat-option value="Cohabiting">
                      Cohabiting
                    </mat-option>
                  </mat-select>                        
                  <mat-error *ngIf="fourthFormGroup.get('maritalStatus').hasError('required')">
                    Field is required
                  </mat-error>            
                </mat-form-field>
              </div>
            </div>
  
            <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="1.0%" fxLayoutAlign="start" class="mt-12">
              <div fxFlex="50">
                <mat-form-field class="full-width" appearance="outline">
                  <mat-label>Please specify the home language of the caregiver</mat-label>
                  <mat-select formControlName="homeLanguage" required>
                    <mat-option value=""></mat-option>
                    <mat-option value="English">
                      English
                    </mat-option>
                    <mat-option value="Afrikaans">
                      Afrikaans
                    </mat-option>
                    <mat-option value="isiZulu">
                      isiZulu
                    </mat-option>
                    <mat-option value="isiXhosa">
                      isiXhosa
                    </mat-option>
                    <mat-option value="isiNdebele">
                      isiNdebele
                    </mat-option>
                    <mat-option value="SiSwati">
                      SiSwati
                    </mat-option>
                    <mat-option value="Sesotho">
                      Sesotho
                    </mat-option>
                    <mat-option value="Sesotho sa Leboa">
                      Sesotho sa Leboa
                    </mat-option>
                    <mat-option value="Setswana">
                      Setswana
                    </mat-option>
                    <mat-option value="Xitsonga">
                      Xitsonga
                    </mat-option>
                    <mat-option value="Venda">
                      Venda
                    </mat-option>
                    <mat-option value="Other">
                      Other
                    </mat-option>
                  </mat-select>                        
                  <mat-error *ngIf="fourthFormGroup.get('homeLanguage').hasError('required')">
                    Field is required
                  </mat-error>            
                </mat-form-field>
              </div>
              <div fxFlex="50" *ngIf="fourthFormGroup.get('homeLanguage').value == 'Other'">
                <mat-form-field class="full-width" appearance="outline">
                  <mat-label>Other language</mat-label>
                  <input matInput formControlName="homeLanguageOther">
                  <mat-hint>Maximum length 50</mat-hint> 
                  <mat-error *ngIf="fourthFormGroup.get('homeLanguageOther').hasError('maxlength')">
                    Maximum length exceeded
                  </mat-error>            
                </mat-form-field>
              </div>
            </div>
  
            <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="1.0%" fxLayoutAlign="start" class="mt-12">
              <div fxFlex="50">
                <mat-form-field class="full-width" appearance="outline">
                  <mat-label>Does the caregiver have any disabilities</mat-label>
                  <mat-select formControlName="disability" required multiple>
                    <mat-option value="None">
                      None
                    </mat-option>
                    <mat-option value="Sight/Vision">
                      Sight/Vision
                    </mat-option>
                    <mat-option value="Hearing">
                      Hearing
                    </mat-option>
                    <mat-option value="Communication/Speech">
                      Communication/Speech
                    </mat-option>
                    <mat-option value="Physical">
                      Physical
                    </mat-option>
                    <mat-option value="Cognitive">
                      Cognitive
                    </mat-option>
                    <mat-option value="Neurological">
                      Neurological
                    </mat-option>
                    <mat-option value="Other">
                      Neurological
                    </mat-option>
                  </mat-select>                        
                  <mat-error *ngIf="fourthFormGroup.get('disability').hasError('required')">
                    Field is required
                  </mat-error>            
                </mat-form-field>
              </div>
              <div fxFlex="50" *ngIf="fourthFormGroup.get('disability').value.includes('Other')">
                <mat-form-field class="full-width" appearance="outline">
                  <mat-label>Other disability</mat-label>
                  <input matInput formControlName="disabilityOther">
                  <mat-hint>Maximum length 50</mat-hint> 
                  <mat-error *ngIf="fourthFormGroup.get('disabilityOther').hasError('maxlength')">
                    Maximum length exceeded
                  </mat-error>            
                </mat-form-field>
              </div>
            </div> 
  
            <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="1.0%" fxLayoutAlign="start" class="mt-12">
              <div fxFlex="50">
                <mat-form-field class="full-width" appearance="outline">
                  <mat-label>Please specify the cell number</mat-label>
                  <input matInput formControlName="cellNumber">
                  <mat-hint>Specify a valid 10 digit number number (no spaces or hyphens)</mat-hint> 
                  <mat-error *ngIf="fourthFormGroup.get('cellNumber').hasError('invalidMobileNumber')">
                    Invalid number specified
                  </mat-error>            
                </mat-form-field>
              </div>
              <div fxFlex="50">
                <mat-form-field class="full-width" appearance="outline">
                  <mat-label>Please specify the alternate cell number</mat-label>
                  <input matInput formControlName="altCellNumber">
                  <mat-hint>Specify a valid 10 digit number number (no spaces or hyphens)</mat-hint> 
                  <mat-error *ngIf="fourthFormGroup.get('altCellNumber').hasError('invalidMobileNumber')">
                    Invalid number specified
                  </mat-error>            
                </mat-form-field>
              </div>
            </div>
          </div>
        </form>
      </div>
  
      <div fxFlex="80" *ngIf="viewModel.currentStep == 5">
        <form [formGroup]="fifthFormGroup" [@fadeInOut2]="">
  
          <div class="p-24">
            <span class="mat-title">Household background</span>
  
            <div class="pt-24 pb-24">
              <span class="text-muted">Please specify the background of the household</span> 
            </div>
  
            <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="1.0%" fxLayoutAlign="start" class="mt-12">
              <div fxFlex="50">
                <mat-form-field class="full-width" appearance="outline">
                  <mat-label>Please select the headship for the household</mat-label>
                  <mat-select formControlName="headship">
                    <mat-option value=""></mat-option>
                    <mat-option value="Child-headed (less than 18)">
                      Child-headed (less than 18)
                    </mat-option>
                    <mat-option value="Youth-headed (18 to 24)">
                      Youth-headed (18 to 24)
                    </mat-option>
                    <mat-option value="Adult-headed (25 to 59)">
                      Adult-headed (25 to 59)
                    </mat-option>
                    <mat-option value="Older-headed (greater than 59)">
                      Older-headed (greater than 59)
                    </mat-option>
                  </mat-select>                        
                </mat-form-field>
              </div>
            </div>                      
          </div>
        </form>
      </div>
  
      <div fxFlex="80" *ngIf="viewModel.currentStep == 6">
        <div class="p-24">
          <span class="mat-title">Consent</span>
  
          <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="1.0%" fxLayoutAlign="start" class="mt-6" [@fadeInOut2]="">
            <div fxFlex="50">
              <div class="card-title-text mat-bg-accent p-24 rounded text-center">
                To be implemented
              </div>
            </div>
          </div>                      
        </div>
      </div>
  
      <div fxFlex="80" *ngIf="viewModel.currentStep == 7">
        <div class="p-24">
          <span class="mat-title">Finish</span>
  
          <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="1.0%" fxLayoutAlign="start" class="mt-6">
            <div fxFlex="50">
              <div *ngIf="firstFormGroup.invalid || secondFormGroup.invalid || thirdFormGroup.invalid || fourthFormGroup.invalid || fifthFormGroup.invalid" class="card-title-text mat-bg-warn p-24 rounded text-center"  [@fadeInOut2]="">
                Please ensure all sections are completed successfully
              </div>
              <div *ngIf="firstFormGroup.valid && secondFormGroup.valid && thirdFormGroup.valid && fourthFormGroup.valid && fifthFormGroup.valid" class="card-title-text mat-bg-primary p-24 rounded text-center"  [@fadeInOut2]="">
                Please click on the finish button to complete the enrollment
              </div>
            </div>
          </div>                      
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>